APP_ENV=production
APP_DEBUG=false
APP_URL=https://ujiansmk.smkpb1.my.id

APP_TIMEZONE=Asia/Jakarta
APP_LOCALE=id

LOG_CHANNEL=daily
LOG_LEVEL=warning
LOG_DAILY_DAYS=14

SESSION_DRIVER=database
SESSION_LIFETIME=180
SESSION_ENCRYPT=false
SESSION_SECURE_COOKIE=true

CACHE_STORE=database
QUEUE_CONNECTION=sync
